html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: 0;
  background: #f5f5f7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-smooth: auto;
  -webkit-font-smoothing: antialiased;
}

.SmoothScroll {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

.container {
  width: 100vw;
}

::-webkit-scrollbar {
  display: none;
}

.navlist{
  text-align: right;
  top: 200px;
  position: fixed;
  right: 0px;
}

.navlist ul {
  list-style: none;
}

.navlist li{
  margin-top: 50px;
  transition: 100ms;
}

a {
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.795);
  transition: 100ms;
}

a:hover{
  font-size: 24px;
  color: #0000007c;
  font-weight: bold;
}

#home {
  padding-bottom: 10vh;
}

.cardgrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 4vw;
  row-gap: 3rem;
  padding-left: 10vw;
  padding-right: 10vw;
}

.card {
  height: 22rem;
  border-radius: 15px;
  background: #fff;
  padding: 15px;
  /*box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  border: 1px solid #f5f5f7;*/
}

.meimg {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.avatar{
  height: 150px;
  width: 150px;
  border: 2px solid #f5f5f7;
  box-shadow: 0 0 0 0.3px #222222;
  border-radius: 100px;
  background: url("assets/img/me.jpeg");
  background-position: center;
  background-size: cover;
}

.one{
  background: linear-gradient(#2d8ccb, #1a6394);
  justify-content: center;
  text-align: center;
}

.one h1 {
  top: 50%;
  font-size: 36px;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  perspective-origin: 10;
}

.one ul{
  list-style: none;
  display: inline-block;
}

.one li{
  display: inline;
  color: #f5f5f7;
}

.social{
  font-size: 24px;
  padding-right: 2rem;
  transition: 200ms;
}

.social:hover{
  transform: scale(1.1);
  filter: drop-shadow( 0px 2px 4px 2px #f5f5f77a);
}

.two{
  background-color: #222222;
  color: #e0e0e0;
}

.two p{
  margin-top: 8rem;
}

.space {
  height: 100vh;
  background: #fff;
}


@media screen and (max-width: 1200px) {
  .cardgrid{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 980px) {
  .cardgrid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 850px) {
  .cardgrid{
    grid-template-columns: repeat(1, 1fr);
  }
}