html {
  scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed&display=swap");

body {
  margin: 0;
  padding: 0;
  overflow-x: 0;
  background: #f5f2e7;
  font-smooth: auto;
  font-family: "Saira Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  cursor: url("assets/img/Mousepointer.png"), auto;
  line-height: 1.6;
}

ul{
  list-style: none;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  width: 10px;
  background-color: #F5F2E7;
}

::-webkit-scrollbar-thumb {
  background: #999790;
  box-shadow: inset 0 0 10px 20px #22222271;
  border-radius: 100px;
  border: 4px solid #f3eff5;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 6; /* Stay on top */
  top: 0;
  right: 0;
  background-color: #f5f2e7; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #222222;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.top{
  position: fixed;
  top: 0;
  background: #f5f2e7;
  z-index: 5;
  height: 60px;
  width: 100vw;
}

.header {
  position: fixed;
  z-index: 5;
  margin-left: 15px;
  height: 20px;
  width: 70px;
  padding-left: 15px;
  padding-right: 15px;
  color: #1a1a1a;
  font-size: x-large;
  vertical-align: middle;
}

.burger {
  z-index: 5;
  position: fixed;
  right: 0;
  margin-right: 70px;
  margin-top: 8px;
  height: 40px;
  width: 32px;
}

svg #l1:hover {
  animation: burger 200ms ease-in-out;
}

@keyframes burger {
  from {
    transform: rotate(90);
  }
}

.SmoothScroll {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

.container {
  width: 100vw;
}

a {
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.795);
  transition: 100ms;
}

a:hover {
  font-size: 24px;
  color: #0000007c;
  font-weight: bold;
}

#home {
  padding-bottom: 10vh;
}

.cardgrid {
  position: relative;
  top: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  column-gap: 2vw;
  row-gap: 2rem;
  padding-left: 2vw;
  padding-right: 2vw;
}

.card {
  border-radius: 7px;
  background: #fff;
  padding: 15px;
  /*box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  border: 1px solid #f5f5f7;*/
}

.card:hover{
  transform: scale(1.01);
  transition-duration: 100ms;
}

.one {
  background: linear-gradient(#084594 , #042b5f); 
  grid-column: span 3;
  grid-row: span 1;
  animation: rightin 900ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.one h1 {
  position: relative;
  font-size: 36px;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  perspective-origin: 10;
  margin-left: 38px;
  margin-right: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

#name{
  font-family: 'Cookie', cursive;
  font-size: 1.4em;
}

.one ul {
  position: relative;
  list-style: none;
  display: inline-block;
}

.one li {
  display: inline;
  color: #f5f5f7;
}

.avatar {
  animation: leftin 900ms ease-in-out;
  background: url("assets/img/me.jpeg");
  background-position: center;
  background-size: cover;
}

.social {
  font-size: 24px;
  padding-right: 2rem;
  transition: 200ms;
}

.social:hover {
  transform: scale(1.2);
  filter: drop-shadow(0px 2px 4px 2px #f5f5f77a);
}

.iam {
  grid-row: span 2;
  color: #2c3333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(rgb(125, 46, 156), rgb(91, 33, 114) );
}

.profession{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding: 30px;
  color: #f1f1f1;
}

.doimg{
  height: 50px;
  width: 50px;
}

.two {
  background-color: #ffd32d;
  color: #272727;
  grid-column: span 2;
  animation: leftin 1.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.two p {
  text-align: center;
}

.three {
  grid-column: span 2;
  animation: bottomin 1.3s ease-in-out;
  background: #2c3333;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.three p {
  margin: auto;
  text-align: center;
  color: #f5f5f7;
}

.eternal {
  margin: auto;
  height: 150px;
  width: 150px;
  border-radius: 15px;
  background: url("assets/img/eternalmac.jpeg");
  background-size: cover;
}

.space {
  height: 100vh;
  background: #fff;
}

.copyright {
  display: flex;
  justify-content: center;
  height: 25px;
  width: 100%;
}

@keyframes topin {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 100;
  }
}

@keyframes rightin {
  from {
    font-size: 12px;
    opacity: 0;
    transform: translateX(150px);
  }
  to {
    opacity: 100;
  }
}

@keyframes leftin {
  from {
    opacity: 0;
    transform: translateX(-150px);
  }
  to {
    opacity: 100;
  }
}

@keyframes bottomin {
  from {
    opacity: 0;
    transform: translateY(150px);
  }
  to {
    opacity: 100;
  }
}

@media screen and (max-width: 1200px) {
  .cardgrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 980px) {
  .cardgrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 850px) {
  .m1 {
    height: 25rem;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .cardgrid {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 0;
  }
}
